<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cátalogo MIP</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/grayscale.css" rel="stylesheet">
  <link  rel="icon"   href="static/img/catalogo_mip2.png" type="image/png">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Inicio</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Manejo Integrado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Control Biológico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#search">Búsqueda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Catálogo MIP</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Control Biológico Integrado</h2>
        <a href="#search" class="btn btn-success js-scroll-trigger">Empecemos</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">¿Que es el MIP?</h2>
          <p class="text-white-50">En agricultura se entiende como manejo integrado de plagas (MIP) o control integrado/integral de plagas a una estrategia que usa una gran variedad de métodos complementarios: físicos, mecánicos, químicos, biológicos, genéticos, legales y culturales para el control de plagas.</p>
          
          <img src="static/img/mariquita.png" width="25%" class="img-fluid" alt="">
        </div>
      </div>
      
      <br></br>
    </div>
  </section>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="static/img/intro.jpg" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Control biológico</h4>
            <p class="text-black-50 mb-0">La madre naturaleza es sabia, posee seres vivos que, mediante su existencia, controlan enfermedades y la vivencia de las plagas en las plantas. El control biológico es un método de control de plagas, enfermedades y malezas que consiste en utilizar organismos vivos con objeto de controlar las poblaciones de otro organismo. </p>
          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="static/img/products-01.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Microorganismos</h4>
                <p class="mb-0 text-white-50"> La utilización de microorganismos en el control biológico de plagas y de enfermedades es una alternativa atractiva debido a su fácil producción y conservación en forma de productos comerciales.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="static/img/products-02.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Insectos</h4>
                <p class="mb-0 text-white-50">El control biológico asume que los depredadores o los parásitos naturales son capaces de destruir las plagas. En un principio, por lo tanto, se importan enemigos naturales para combatir las plagas.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

            <!-- Project Three Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="static/img/products-03.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Plantas</h4>
                <p class="mb-0 text-white-50"> Las islas de biodiversidad, setos vivos y cultivos banker son infraestructuras verde de floración escalonada para la conservación y establecimiento de organismos de control biológico ya que ofrecen condiciones para que éstos puedan completar sus ciclos biológicos dentro de los cultivos y fincas.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Busqueda Section -->
  <section id="search" class="search-section">
    <div class="container-fluid">
      <center>
        <div class="title-cmip">
           <img src="static/img/catalogo_mip2.png" width="5%" hspace="5" vspace="5" style="float: none;"/><h1 class="text-white">Catálogo de Control Biológico Integrado</h1>
           <br>
         </div>
         <br>
         <div class="container">
          <p>Escribe la palabra clave para filtrar la tabla con base en agente de control, tipo, descripción, enfermedad, cultivo, producto o registro:</p>
          <br>
          <input class="form-control" id="myInput" type="text" placeholder="Búsqueda..">
          <br>
        </div>
      </center>
      <br>
      
      <div class="table-responsive">
          <table class="table table-bordered table-striped align-middle text-center">
            <thead>
              <tr>
                <th class="align-middle">Agente de control</th>
                <th class="align-middle"> Tipo</th>
                <th class="align-middle">Descripción</th>
                <th class="align-middle">Organismo objetivo o enfermedad</th>
                <th class="align-middle">Cultivos</th>
                <th class="align-middle">Producto</th>
                <th class="align-middle">Registro</th>
                <th class="align-middle">Disponibilidad en tienda</th>
              </tr>
            </thead>
            <tbody id="myTable">
              <tr>
                <td>Agrobacterium radiobacter strain K84</td><td>Bacteria</td><td>Bactericida</td><td>Agrobacterium tumefaciens</td><td>Ornamental,Frutas,Nueces</td><td>Galltrol </td><td>EPA</td><td href="#search" class="btn btn-success js-scroll-trigger">Ver</td>
              </tr>
              <tr>
                <td>Agrobacterium radiobacter strain K1026</td><td>Bacteria</td><td>Bactericida</td><td>Agrobacterium tumefaciens, Agrobacterium rhizogenes</td><td>Ornamental, Frutas, Nueces</td><td>Nogall</td><td>EPA</td><td href="#search" class="btn btn-success js-scroll-trigger">Ver</td>
                </tr>
              <tr>
                <td>Ampelomyces quisqualis isolate M-10</td><td>Hongo</td><td>Fungicida</td><td>Oídio, blanquilla, cenizilla</td><td>Frutas, Vegetales, Ornamentales</td><td>AQ10 BioFungicide</td><td>EPA</td><td href="#search" class="btn btn-success js-scroll-trigger">Ver</td>
              </tr>
              <tr>
                <td>Aspergillus flavus strain AF36</td><td>Hongo</td><td>Fungicida</td><td>Aspergillus flavus</td><td>Algodón</td><td>Aspergilus flavus strain AF36</td><td>EPA</td><td href="#search" class="btn btn-success js-scroll-trigger">Ver</td>
              </tr>
              <tr>
                <td>Aspergillus flavus NRRL 21,882</td><td>Hongo</td><td>Fungicida</td><td>Aspergillus flavus</td><td>Cacahuate, Cacahuete, Caguate, Maní</td><td>Afla-guard</td><td>EPA</td><td href="#search" class="btn btn-success js-scroll-trigger">Ver</td>
              </tr>
              <tr>
                <td>Bacillus licheniformis strain SB3086</td><td>Bacterias</td><td>Insecticida, Fungicida</td><td>Patógenos foliares, plagas</td><td>Ornamentales, césped</td><td>Ecoguard, Novozymes Biofungicide Green Relief</td><td>EPA</td><td href="#search" class="btn btn-success js-scroll-trigger">Ver</td>
              </tr>
              <tr>
                <td>Bacillus pumilus strain GB 34</td><td>Bacterias</td><td>Fungicida</td><td>Rhizoctonia, Fusarium</td><td>Soya</td><td>GB34 Concentrate Biological Fungicide</td><td>EPA</td><td href="#search" class="btn btn-success js-scroll-trigger">Ver</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
      </script>

  </section>

<!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">¡Suscríbete para ser usuario beta!</h2>
          {% if flag %}
          <div class="alert alert-dark alert-dismissible fade show" role="alert">
            <strong>¡Gracias por suscribirte {{ name.split(' ')[0] }}!</strong> Pronto recibirás más noticias.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <script>
                document.location.hash = '#signup';
            </script>
          </div>
          {% endif %}

          <form class="" method="post">
            <div class="form-group form-inline d-flex">
              <input name="name" type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputName" placeholder="Introduce tu nombre" required>
              <input name="email" type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Introduce tu email" required>
            </div>
            <button type="submit" class="btn btn-success mx-auto">Suscribirme</button>
          </form>

        </div>
      </div>
    </div>
  </section>


  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-success mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">4923 Market Street, Orlando FL</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-success mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">hello@yourdomain.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-success mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+1 (555) 902-8832</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; CatálogoMIP 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/grayscale.js"></script>

</body>

</html>
